<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<div class="col-sm-6 integration storecredit-item" data-bind="visible:visible">
    <div class="info">
        <div data-bind="i18n:'Customer credit balance'"></div>
        <div class="bold-label" data-bind="text:balance"></div>
        <div data-bind="i18n:'credits'"></div>
        <span class="icon-iconPOS-reload" data-bind="click:updateBalance,css:{active:updatingBalance,'btn-cl-cfg-other':updatingBalance}"></span>
    </div>
</div>