<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!-- ko if: orderData -->
<div id="payment-popup" role="dialog"
     data-bind="visible: isVisible, style: {display: stypeDisplay()},
     attr:{class: 'modal fade add-comment ship-refund ' + classIn()}">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form data-bind="attr:{id: formId}, submit: submit" >
                <div class="popup-header">
                    <button type="button" class="close" data-dismiss="modal" data-bind="text: $t('Cancel'), click: display(false)"></button>
                    <h4 class="modal-title" data-bind="text: $t('Take Payment')"/>
                    <button type="submit" class="btn-save" data-bind="text: $t('Submit'), click: submit"/>
                </div>
                <div class="modal-body">
                    <div id="order_payment_list_container">
                        <!-- ko ifnot: selectedPayments().length > 0 -->
                        <!-- ko template: {name: templatePaymentList, data: $parent} -->
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko template: {name: templatePaymentSelected, data: $parent} -->
                        <!-- /ko -->
                    </div>
                    <!-- ko if: isShowMorePayment -->
                    <div data-bind="attr:{id: morePaymentFormId}">
                        <!-- ko template: {name: templatePaymentListPopup, data: $parent} -->
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <div class="action">
                        <button data-bind="attr: {id: addMorePaymentBtn},text: $t('ADD MORE PAYMENT METHOD'), click: addMorePayment">
                        </button>
                        <button class="btn-cl-cfg-active" data-bind="text: $t('SUBMIT'), click: submit"></button>
                    </div>

                    <div class="remain-money">
                        <!-- ko if: baseRemainTotal()>=0 -->
                        <label data-bind="text: $t('Remain Money')"></label>
                        <span class="price" data-bind="text: remainTotal"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: baseRemainTotal()>=0 -->
                        <label data-bind="text: $t('Expected Change')"></label>
                        <span class="price" data-bind="text: remainTotal"></span>
                        <!-- /ko -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /ko -->