<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<nav class="o-header-nav">
    <div class="id-order"><label class="title-header-page">Order: <span data-bind="text: $parent.orderData().increment_id"></span></label></div>
    <div class="more-info">
        <a href="#" rel="popover" data-bind="click: $parent.showActionPopup" data-trigger="click" data-popover-content="#form-add-note-order" data-placement="bottom" data-original-title="" title="">
            <span class="icon-iconPOS-more"></span>
        </a>
    </div>
</nav>
<div class="notify-notsync" data-bind="text: $t('This was an issue syncing this order.'),
visible: $parent.canSync"></div>
<div class="sum-info-top">
    <div class="life-time-left">
        <span class="price" data-bind="text: $parent.getPrice('grand_total')"/>
    </div>
    <div class="info-order">
        <table>
            <tr>
                <td><label data-bind="text: $t('Status: ')"/></td>
                <td>
                    <span data-bind="attr: {class: 'status ' + $parent.orderData().status}, text: $parent.getStatus()"/>
                </td>
            </tr>
            <tr>
                <td><label data-bind="text: $t('Created Date: ')"/></td>
                <td><span class="date-time" data-bind="text: $parent.getFullDate($parent.orderData().created_at)"/></td>
            </tr>
            <!-- ko if: $parent.orderData().webpos_staff_name -->
            <tr>
                <td><label data-bind="text: $t('Served by: ')"/></td>
                <td><span class="date-time" data-bind="text: $parent.orderData().webpos_staff_name"></span></td>
            </tr>
            <!-- /ko -->
        </table>
    </div>
</div>
<!-- ko if: $parent.orderData().base_total_due > 0 -->
<div class="total-due">
    <label class="title-total-due">
        <span data-bind="i18n:'Total Due' "/>:
        <span class="price" data-bind="text: $parent.getPrice('total_due')"/>
    </label>
    <!-- ko if: $parent.canTakePayment -->
    <a class="take-payment" data-bind="text: $t('Take payment'), click: $parent.showPopup.bind($parent, 'payment')"></a>
    <!-- /ko -->
</div>
<!-- /ko -->
