<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!-- Popup Add New Customer -->
<form id="form-add-customer-customer" class="modal customer-popup-form" role="dialog"
      data-bind="css: {'show': isShowCreateForm}">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="">
                <div class="popup-header">
                    <button type="button" class="close" data-dismiss="modal" data-bind="click: hideCreateCustomer, i18n: 'Cancel'"></button>
                    <h4 class="modal-title"><label class="title-header-page" data-bind="i18n: 'New Customer'"></label></h4>
                    <button type="submit" class="btn-save  link-cl-cfg" data-bind="click: saveCustomerForm, i18n: 'Save'"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-box">
                                    <input type="text" name="first-name"
                                           class="customer-fname"
                                           data-bind="value: firstNameCustomer, attr: {placeholder: $t('First Name')}"
                                           data-validate="{'required-entry':true}"
                                        />
                                    <em>*</em>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-box">
                                    <input type="text" name="last-name"
                                           data-bind="value: lastNameCustomer, attr: {placeholder: $t('Last Name')}"
                                           data-validate="{'required-entry':true}"
                                           class="customer-lname"/>
                                    <em>*</em>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-box">
                                    <input type="text" placeholder="Email" name="email"
                                           data-bind="value: emailCustomer, attr: {placeholder: $t('Email')}"
                                           data-validate="{'required-entry':true, 'validate-email': true}"
                                           class="customer-email"/>
                                    <em>*</em>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-box">
                                    <select class="selectpicker customer_group"
                                            data-validate="{'required-entry':true}"
                                            data-bind="options: customerGroupArray,
                                                value: groupCustomer,
                                                optionsText: function(item) {
                                                    return item.code
                                                },
                                                optionsValue: function(item) {
                                                    return item.id
                                                },
                                                optionsCaption: $t('Please choose group...')
                                                "
                                            id="add_customer_group">

                                    </select>
                                    <em>*</em>
                                </div>
                            </div>
                            <div class="col-sm-6" data-bind="visible:showDob">
                                <div class="input-box">
                                    <!-- ko if: requireDob -->
                                    <input type="text" name="dob"
                                           data-bind="value: dob, attr: {placeholder: $t('Day of Birth')}"
                                           data-validate="{'required-entry':true}"
                                           class="dob"/>
                                    <!--/ko-->
                                    <!-- ko if: !requireDob -->
                                    <input type="text" name="dob"
                                           data-bind="value: dob, attr: {placeholder: $t('Day of Birth')}"
                                           class="dob"/>
                                    <!--/ko-->
                                    <!-- ko if: requireDob -->
                                    <em>*</em>
                                    <!--/ko-->
                                </div>
                            </div>
                            <div class="col-sm-6" data-bind="visible:showTaxvat">
                                <div class="input-box">
                                    <!-- ko if: requireTaxvat -->
                                    <input type="text" name="taxvat"
                                           data-bind="value: taxvat, attr: {placeholder: $t('Tax/VAT number')}"
                                           data-validate="{'required-entry':requireTaxvat}"
                                           class="taxvat"/>
                                    <!--/ko-->
                                    <!-- ko if: !requireTaxvat -->
                                    <input type="text" name="taxvat"
                                           data-bind="value: taxvat, attr: {placeholder: $t('Tax/VAT number')}"
                                           class="taxvat"/>
                                    <!--/ko-->
                                    <!-- ko if: requireTaxvat -->
                                    <em>*</em>
                                    <!--/ko-->
                                </div>
                            </div>
                            <div class="col-sm-6" data-bind="visible:showGender">
                                <div class="input-box">
                                    <!-- ko if: requireGender -->
                                    <select class="gender"
                                            data-validate="{'required-entry':requireGender}"
                                            data-bind="options: genderArray,
                                                        value: gender,
                                                        optionsText: function(item) {
                                                            return item.code
                                                        },
                                                        optionsValue: function(item) {
                                                            return item.id
                                                        },
                                                        optionsCaption: $t('Please choose gender...')
                                                        ">
                                    </select>
                                    <!--/ko-->
                                    <!-- ko if: !requireGender -->
                                    <select class="gender"
                                            data-bind="options: genderArray,
                                                        value: gender,
                                                        optionsText: function(item) {
                                                            return item.code
                                                        },
                                                        optionsValue: function(item) {
                                                            return item.id
                                                        },
                                                        optionsCaption: $t('Please choose gender...')
                                                        ">
                                    </select>
                                    <!--/ko-->
                                    <!-- ko if: requireGender -->
                                    <em>*</em>
                                    <!--/ko-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="subscribe-box">
                                    <label data-bind="i18n: 'Subscribe Newsletter'"></label>
                                    <div class="switch-box">
                                        <span class="off" data-bind="i18n: 'OFF'"></span>
                                        <input type="checkbox" class="ios" data-bind="checked: isSubscriberCustomer, bootstrapSwitchOnCustomer: isSubscriberCustomer"
                                            name="is_subscriber"/>
                                        <span class="on" data-bind="i18n: 'ON'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title shipping-title" data-bind="click: showShippingAddress">
                                    <a data-toggle="collapse" aria-expanded="false" data-parent="#accordion"
                                       href="#collapse1" data-bind="i18n: 'Shipping Address'"></a>
                                    <span class="icon-iconPOS-add" data-toggle="modal"
                                          data-target="#form-add-address" data-bind="visible: !isShowShippingSummaryForm()"></span>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse-address">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="address-box" data-bind="visible: isShowShippingSummaryForm">
                                                <!-- ko if: firstNameShipping() -->
                                                <!-- ko text: firstNameShipping() --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: lastNameShipping() -->
                                                <!-- ko text: lastNameShipping() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: street1Shipping() -->
                                                <!-- ko text: street1Shipping() + ' '--><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: street2Shipping() -->
                                                <!-- ko text: street2Shipping() + ', '--><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: cityShipping() -->
                                                <!-- ko text: cityShipping() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: regionShipping() -->
                                                <!-- ko text: regionShipping() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: countryShipping() -->
                                                <!-- ko text: countryShipping() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: zipcodeShipping() -->
                                                <!-- ko text: zipcodeShipping() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: phoneShipping() -->
                                                <!-- ko text: phoneShipping() --><!--/ko-->
                                                <!--/ko-->
                                                <div class="actions">
                                                    <a class="edit-address" data-bind="click: editShippingAddress"><span class="icon-iconPOS-edit-28"></span></a>
                                                    <a class="delete-address" data-bind="click: deleteShippingAddress"><span class="icon-iconPOS-emptycart"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default last">
                            <div class="panel-heading">
                                <h4 class="panel-title billing-title" data-bind="click: showBillingAddress">
                                    <a data-toggle="collapse" aria-expanded="false" data-parent="#accordion"
                                       href="#collapse2" data-bind="i18n: 'Billing Address'"></a>
                                    <span class="icon-iconPOS-add" data-toggle="modal"
                                          data-bind="visible: !isShowBillingSummaryForm()"
                                          data-target="#form-add-address"></span>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse-billing">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="address-box" data-bind="visible: isShowBillingSummaryForm">
                                                <!-- ko if: firstNameBilling() -->
                                                <!-- ko text: firstNameBilling() --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: lastNameBilling() -->
                                                <!-- ko text: lastNameBilling() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: street1Billing() -->
                                                <!-- ko text: street1Billing() + ' '--><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: street2Billing() -->
                                                <!-- ko text: street2Billing() + ', '--><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: cityBilling() -->
                                                <!-- ko text: cityBilling() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: regionBilling() -->
                                                <!-- ko text: regionBilling() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: countryBilling() -->
                                                <!-- ko text: countryBilling() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: zipcodeBilling() -->
                                                <!-- ko text: zipcodeBilling() + ', ' --><!--/ko-->
                                                <!--/ko-->
                                                <!-- ko if: phoneBilling() -->
                                                <!-- ko text: phoneBilling() --><!--/ko-->
                                                <!--/ko-->
                                                <div class="actions">
                                                    <a class="edit-address" data-bind="click: editBillingAddress"><span class="icon-iconPOS-edit-28"></span></a>
                                                    <a class="delete-address" data-bind="click: deleteBillingAddress"><span class="icon-iconPOS-emptycart"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</form>
<!-- End Popup Add Address -->