<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!-- ko if: orderData -->
<div id="add-comment-order" role="dialog"
     data-bind="visible: isVisible, style: {display: stypeDisplay()}, attr:{class: 'modal fade add-comment ' + classIn()}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-bind="submit: addComment">
                <div class="popup-header">
                    <button type="button" class="close" data-dismiss="modal" data-bind="text: $t('Cancel'), click: display(false)"/>
                    <h4 class="modal-title" data-bind="text: $t('Comment')" />
                    <button type="submit" class="btn-save link-cl-cfg" data-bind="text: $t('Save'), click: addComment"/>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="3" data-bind="attr: {id: inputId}"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /ko -->