@page {
    size: auto;
    margin-top: 0;
    margin-bottom: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{margin:0;padding:0}
.container-gift-card{background: url(images/center-img.png) no-repeat center;width:1060px;height:817px;margin:0 auto}
.gift-card-container{
    padding-right: 23px;
    padding-left: 23px;
    margin-right: auto;
    margin-left: auto;
}

.row-gift-card {
    margin-right: -23px;
    margin-left: -23px;
}

.row-gift-card .left-card, .row-gift-card .right-card {
    position: relative;
    min-height: 1px;
    padding-right: 23px;
    padding-left: 23px;
    width:50%;
    float: left;
}
.row-gift-card:after,
.gift-card-container:after{
    clear: both;
}
.row-gift-card:after, .row-gift-card:before,
.gift-card-container:after,
.gift-card-container:before{
    display: table;
    content: " ";
}

.ms-wrap-content{padding:23px 0}
.ms-wrap-content .bg-img{margin-top:60px}
.ms-wrap-content .ms-logo img{height:57px;display:block;margin:0 auto}

/*Style for table */
.table-top{width: 500px;border-collapse: collapse;border-spacing: 0;margin: 0 auto;border: 1px solid #ddd;border-bottom: 0 none;border-radius: 4px 4px 0 0;box-shadow: rgb(202, 202, 202) 0 1px 3px !important;}
.table-top td{width: 500px; padding: 30px; text-align: center;vertical-align:middle}
.table-middle{width: 500px; border-radius: 4px; box-shadow: rgb(202, 202, 202) 0 1px 3px !important; border-collapse: collapse; border-spacing: 0; margin: 0 auto;}
.table-middle tbody tr > td{padding:0}
.table-middle tbody tr > td table{border-collapse: collapse; border-spacing: 0; margin: 0 auto;}
.table-middle tbody tr > td table > tr > td{line-height: 0 !important; padding: 0; text-align: center;}
.table-middle tbody tr > td table #mainImageContainer{position: relative; margin: 0 auto; padding: 0; text-align: center; width: 520px;}
.table-middle tbody tr > td table #mainImageContainer img{border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 4px 4px 0 0;width: 100% !important;}
.table-middle tbody tr > td table .td-top{border-bottom: 1px solid rgb(238, 238, 238); padding: 0;}
.table-middle tbody tr > td table .td-top .gc-message{font-family: Georgia, serif; font-size:20px; color:#333; line-height:32px; margin: 0; padding: 30px;}
.table-middle tbody tr > td table .td-bottom{padding:0}
.table-middle tbody tr > td table .td-bottom table{width: 100%;}
.table-middle tbody tr > td table .td-bottom table > tbody > tr > td{font-size: 40px; font-family: Arial, Helvetica, sans-serif; color: rgb(68, 68, 68); padding: 30px; width: 70%;}
.table-middle tbody tr > td table .td-bottom table > tbody > tr > td .gift-price{line-height: 40px;font-size:40px}
.table-middle tbody tr > td table .td-bottom table > tbody > tr > td .gift-code{font-size: 15px;font-family:Arial,Helvetica,sans-serif;color:#868686;font-weight: 600;}
.table-middle tbody tr > td table .td-bottom table > tbody > tr .logo-footer{padding: 30px; text-align: right; width: 30%;}
.table-bottom{width: 500px; border-collapse: separate; border-spacing: 20px; margin: 0 auto;}
.table-bottom td{padding: 0; text-align: center; height: 40px;}
/*End Style for table */

#gc-expire-day-header-amazon {
    font-size:12px;
    line-height:1.4em;
    text-align: center;
    margin-top: 10px;
}

.gc-message {
    word-break: break-all;
}
