<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<div class="wrap-general_container">
    <!-- Template for  submenu general -->
    <div class="col-sm-4 col-lg-3 col-right">
        <header class="o-header">
            <nav class="o-header-nav">
                <label class="title title-header-page" data-bind="i18n:'Settings'"></label>
            </nav>
        </header>

        <div class="main-item-general main-general">
            <div class="wrap-item-general">
                <ul class="nav nav-pills">
                    <!-- ko if: hasExtensions() -->
                        <!-- ko foreach: elems() -->
                        <li data-bind="attr:{class:'bg-cl-active ' + className}"><a data-toggle="pill" data-bind="text:label,attr:{href:'#'+idName}"></a></li>
                        <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </div>
        </div>

    </div>
    <!-- End Template for submenu general -->
    <div class="col-sm-8 col-lg-9 col-left">
        <header class="o-header">
            <nav class="o-header-nav">
                <div class="title-page"><label class="title-header-page"  data-bind="i18n: 'General'"></label></div>
            </nav>
        </header><!-- /o-header -->
        <main class="main-content">
            <div class="tab-content">
                    <!-- ko if: hasExtensions() -->
                        <!-- ko foreach: elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    <!-- /ko -->
            </div>
        </main><!-- /o-content -->
    </div>
</div>