<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magestore\WebposStripe\Api\StripeServiceInterface" type="Magestore\WebposStripe\Model\StripeService"/>
    <preference for="Magestore\WebposStripe\Api\StripeInterface" type="Magestore\WebposStripe\Model\Stripe"/>
</config>