<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<div class="panel panel-default">
    <div class="panel-heading"><span data-bind="i18n:'Role Information '"></span><strong data-bind="text:role.name"></strong></div>
    <div class="panel-body">
        <div class="input-box textarea-box">
            <label data-bind="text:'Permission'"></label>
            <div class="input-text role-information" data-bind="html:role.roleInformation"></div>
        </div>
    </div>
</div>