<?xml version="1.0"?>

<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webpos">
            <group id="payment">
                <group id="paypal" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Paypal Integration</label>
                    <field id="enable" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Allow customer pay via paypal</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                        <field id="client_id" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1">
                        <label>Your Application Client ID</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="client_secret" translate="label" sortOrder="3" type="text" showInDefault="1" showInWebsite="1">
                        <label>Your Application Client Secret</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="is_sandbox" translate="label" sortOrder="4" type="select" showInDefault="1" showInWebsite="1">
                        <label>Sandbox Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="enable_send_invoice" translate="label" sortOrder="5" type="select" showInDefault="1" showInWebsite="1">
                        <label>Allow customer pay via email</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="enable_paypalhere" translate="label" sortOrder="6" type="select" showInDefault="1" showInWebsite="1">
                        <label>Allow paypal here (App only)</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                        </depends>
                    </field>
                    <field id="redirect_url" translate="label" sortOrder="7" type="label" showInDefault="1" showInWebsite="1">
                        <frontend_model>Magestore\WebposPaypal\Block\Adminhtml\Config\Redirect</frontend_model>
                        <label>Redirect Url</label>
                        <depends>
                            <field id="*/*/*/enable_paypalhere">1</field>
                        </depends>
                        <comment>Copy and paste this link into your paypal app</comment>
                    </field>
                    <field id="paypalhere_signin" translate="label" sortOrder="8" type="button" showInDefault="1" showInWebsite="1">
                        <frontend_model>Magestore\WebposPaypal\Block\Adminhtml\Config\Paypalsignin</frontend_model>
                        <depends>
                            <field id="*/*/*/enable_paypalhere">1</field>
                        </depends>
                    </field>
                    <group id="merchant_infomation" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1">
                        <label>Merchant Information</label>
                        <depends>
                            <field id="*/*/*/enable">1</field>
                            <field id="*/*/*/enable_send_invoice">1</field>
                        </depends>
                        <field id="email" translate="label" sortOrder="1" type="text" showInDefault="1" showInWebsite="1">
                            <label>Email</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="firstname" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1">
                            <label>Firstname</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="lastname" translate="label" sortOrder="3" type="text" showInDefault="1" showInWebsite="1">
                            <label>Lastname</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="buisiness_name" translate="label" sortOrder="4" type="text" showInDefault="1" showInWebsite="1">
                            <label>Buisiness Name</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="phone" translate="label" sortOrder="5" type="text" showInDefault="1" showInWebsite="1">
                            <label>Phone</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="street" translate="label" sortOrder="6" type="text" showInDefault="1" showInWebsite="1">
                            <label>Street</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="city" translate="label" sortOrder="7" type="text" showInDefault="1" showInWebsite="1">
                            <label>City</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="state" translate="label" sortOrder="8" type="text" showInDefault="1" showInWebsite="1">
                            <label>State</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="postal_code" translate="label" sortOrder="9" type="text" showInDefault="1" showInWebsite="1">
                            <label>Postal Code</label>
                            <validate>required-entry</validate>
                        </field>
                        <field id="country_id" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1">
                            <label>Country Code</label>
                            <validate>required-entry</validate>
                            <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <frontend_class>countries</frontend_class>
                        </field>
                    </group>
                    <group id="guides" translate="label" sortOrder="15" type="text" showInDefault="1" showInWebsite="1">
                        <label>Guide</label>
                        <field id="setup_guide" translate="label" sortOrder="6" type="text" showInDefault="1" showInWebsite="1">
                            <label>Setup guide</label>
                            <frontend_model>Magestore\WebposPaypal\Block\Adminhtml\Config\Instruction</frontend_model>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>