<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<ul class="order-checkout wrap-item-order" id="order-items" data-bind="foreach:getItems()">
    <li class="product-item">
        <div class="item">
            <div class="main-data" data-bind="click:$parent.prepareEditData.bind($parent)">
                <div class="product-img">
                    <!-- ko ifnot: $data.image_url -->
                    <span class="icon-iconPOS-image"></span>
                    <!--/ko-->
                    <!-- ko if: $data.image_url -->
                    <img width="auto" height="auto" data-bind="attr:{src:image_url,alt:product_name}"/>
                    <!--/ko-->
                    <!-- ko if: $data.qty() > 1 -->
                    <a class="number bg-cl-active" data-bind="text:qty"></a>
                    <!--/ko-->
                </div>
                <div class="product-info">
                    <h4 class="product-name" data-bind="html:product_name"></h4>
                    <!-- ko if: $data.options_label -->
                    <div class="item-options" data-bind="text:options_label"></div>
                    <!--/ko-->
                    <!-- ko if: $data.is_out_of_stock -->
                    <a class="warning">
                        <span class="icon-iconPOS-out-of-stock"></span>
                        <span data-bind="text:$parent.OUT_OF_STOCK_MESSAGE"></span>
                    </a>
                    <!--/ko-->
                    <!-- ko if: $data.custom_sale_description -->
                    <div class="item-options" data-bind="text:custom_sale_description"></div>
                    <!--/ko-->
                </div>
                <div class="price-box">
                    <span class="price" data-bind="text:row_total_formated"></span>
                    <!--ko if:$data.show_original_price -->
                    <span class="original-price" data-bind="text:original_row_total_formated"></span>
                    <!--/ko-->
                </div>
            </div>
            <a class="remove-icon" data-bind="click:$parent.remove, visible:$parent.isOnCartPage()">
                <span class="icon-iconPOS-delete" aria-hidden="true"></span>
            </a>
        </div>
    </li>
</ul>