<?xml version="1.0"?>
<config>
    <global>
        <models>
            <enterprise_reward>
                <class>Enterprise_Reward_Model</class>
                <resourceModel>enterprise_reward_mysql4</resourceModel>
            </enterprise_reward>
            <enterprise_reward_mysql4>
                <class>Enterprise_Reward_Model_Mysql4</class>
                <entities>
                    <reward>
                        <table>enterprise_reward</table>
                    </reward>
                    <reward_history>
                        <table>enterprise_reward_history</table>
                    </reward_history>
                    <reward_rate>
                        <table>enterprise_reward_rate</table>
                    </reward_rate>
                    <reward_salesrule>
                        <table>enterprise_reward_salesrule</table>
                    </reward_salesrule>
                </entities>
            </enterprise_reward_mysql4>
        </models>
    </global>
</config>
