<div style="position: relative;width: 600px;height: 365px;">
    {{if giftImageUrl}}
    <img src="{{var giftImageUrl}}" style="width: 600px;height: 365px;">
    {{/if}}
    <div style="top: 0;position: absolute;">
        <div style="float: left;width: 100%;">
            <div style="float: left;width: 100%;height: 82px;">
                {{if logo_url}}
                <img style="margin-left: 15px;border-radius: 0px 0px 5px 5px;height: 40px;" src="{{var logo_url}}"/>
                {{/if}}
                <div style="color:#{{var textColor}};font-size: 11px;float: right;margin-top: 5px;margin-right: 5px;font-weight: bold;">
                    {{if expiredDate}} {{var expiredDate}} {{/if}}
                </div>
            </div>
            <div style="float: left;width: 100%;height: 50px;background-size: 100%;">
                <img src="{{var bkgTitleUrl}}" width="600" height="52px">
                <div style="position: absolute;top: 82px;width: 600px;height: 52px;">
                    <div style="line-height: 35px;margin-left: 15px;padding-top: 7px;float: left; color:#{{var styleColor}};font-size: 20px;font-weight: 600;">
                        <span>{{var giftCardTitleText}}</span>
                    </div>
                    <div style="text-align: right;position: relative;width: 205px;float: right;height: 50px;">
                        <img src="{{var bkgValueUrl}}" width="205px" height="52">
                        <div style="position: absolute;top: 0;width: 205px;height: 52px;">
                            <span style="float: none;line-height: 58px;margin-right: 15px;color:#{{var textColor}};">{{var giftCardValueText}}</span>
                            <span style="font-size: 26px;font-family: 'Open Sans', sans-serif;float: right;margin-right: 15px;line-height: 52px;color:#{{var styleColor}};font-weight: bold;">
                                <span >{{var giftValue}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float: left;margin: 0px 15px 10px 15px;">
            <div style="float: left;width: 100%;margin-top: 10px;">
                <div style="float: left;width: 50%;">
                    <div style="color:#{{var textColor}};font-weight: 600;float: left;font-size: 16px;margin-bottom: 5px;">
                        <label style="font-family: 'Open Sans', sans-serif;color:#{{var textColor}};">{{var fromText}}</label>
                        <span style="font-size: 16px;color:#{{var styleColor}};">{{var senderName}}</span>
                    </div>
                    <div style="float: left;clear: both;text-align: left;">
                        <label style="font-family: 'Open Sans', sans-serif;margin-right: 5px;font-weight: 600;float: left;font-size: 16px;color:#{{var textColor}};">{{var toText}}</label>
                        <span style="font-size: 16px;color:#{{var styleColor}};">{{var recipientName}}</span>
                    </div>
                </div>
                <div style="float: right;text-align: right;width: 50%;">
                    <span style="font-family: 'Open Sans', sans-serif;font-style: italic;margin-bottom: 5px;float: right;width: 100%;color:#{{var styleColor}};font-weight: 600;">{{var giftCode}}</span>
                    <span style="height: 40px;">
                        {{if barcodeUrl}}
                        <img src="{{var barcodeUrl}}" style="height:40px;"/>
                        {{/if}}
                    </span>
                </div>
            </div>
            <div style="float: left;width: 100%;margin-top: 10px;">
                <div style="width:100%;height: 97px;display: table-cell;vertical-align: middle;color:#{{var textColor}};background: #fff;  border: 1px solid #ececec;border-radius: 5px;clear: both;float: left;">
                    <pre style="width: 540px;padding: 10px; margin: 0;white-space: pre-wrap;max-height: 85px;overflow: hidden;font-size: 11px;">{{var giftMessage}}</pre>
                </div>
            </div>
            <div style="float: left;width: 100%;height: 30px;overflow: hidden; margin-top: 10px;">
                <div style="margin: 0 auto;">
                    <p style="font-size: 12px;line-height: 15px;margin: 0;color:#{{var textColor}};">{{var notes}}</p>
                </div>
            </div>
        </div>
    </div>
</div>