<!--@subject Your points balance expiration @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"var title":"Transaction Title",
"var amount":"Transaction Amount",
"var status":"Transaction Status",
"var point_amount":"Point Amount Formated",
"var spent":"Transaction Amount Used",
"var point_used":"Transaction Amount Used Formated",
"var total":"Customer Balance",
"var point_balance":"Customer Balance Formated",
"var expirationdays":"Expiration After Days",
"var expirationdate":"Expiration Date",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:13px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:13px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Dear {{htmlescape var=$customer.name}}</strong>,<br/>
                            We would like to inform you that your membership in "{{var levelName}}" group will be expired in the next {{var expirationdays}} day(s). By that time, you will no longer receive benefits as the group members.</p>
                            <p>If you have any questions, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or call us {{config path='general/store_information/phone'}} within our working time (Monday - Friday, 8am - 5pm PST).</p>
                            <p>Thank you for doing business with us,<br/>
                                <strong>{{var store.getFrontendName()}}</strong>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
