<!--
  ~ * Copyright © 2016 Magestore. All rights reserved.
  ~ * See COPYING.txt for license details.
  ~
  -->

<div id="set-closing-balance-reason" class="hide-popup popup-for-right" data-bind="afterRender:initModal">
    <div class="wrap-popup">
        <div class="modal-body">
            <div class="cash-counting-notice">
                <span data-bind="" />
            </div>
            <div class="reason-box">
                <textarea data-bind="value: reason" ></textarea>
            </div>
        </div>
    </div>
</div>