
        <!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

        <!-- Template for right column -->
        <div class="col-sm-4 col-lg-3 col-right">
            <header class="o-header">
                <nav class="o-header-nav">
                    <label class="title title-header-page">Register shift</label>
                    <div class="icon-add" >
                        <span class="icon-iconPOS-add" data-bind="afterRender:afterRenderOpenButton"/>
                    </div>
                </nav>
            </header>

            <div class="main-item-shift main-shift">
                <div class="wrap-item-shift">
                    <div class="title-time time-one">This week</div>

                </div>

            </div>

        </div>
        <!-- End Template for right column -->
        <div class="col-sm-8 col-lg-9 col-left">
            <header class="o-header">
                <nav class="o-header-nav">
                    <div class="detail-datetime">May 25, 2016</div>
                </nav>
            </header><!-- /o-header -->
            <main class="main-content">

                <div class="pos-machine"><span class="icon-iconPOS-empty-shift"></span></div>
                <div class="text-note">
                    <h3 class="title-box">Manage your daily cash flow </h3>
                    <span class="small-text">Use register shifts to balance your cash drawer <br/>and keep track of how much your sell each shift.</span>
                </div>
            </main><!-- /o-content -->


        </div>


