<?xml version="1.0"?>

<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magestore_Webpos::config_webpos" title="Webpos" sortOrder="50"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="Magestore_Webpos::webpos" title="Webpos">
                        <resource id="Magestore_Webpos::checkout" title="POS Checkout" sortOrder="10"/>
                        <resource id="Magestore_Webpos::locations" title="Manage Locations" sortOrder="20"/>
                        <resource id="Magestore_Webpos::staffs" title="Manage Staff" sortOrder="30"/>
                        <resource id="Magestore_Webpos::roles" title="Manage Roles" sortOrder="40"/>
                        <resource id="Magestore_Webpos::zreport" title="Z-Reports" sortOrder="50"/>
                        <resource id="Magestore_Webpos::reports" title="Sales Order Reports" sortOrder="60"/>
                        <resource id="Magestore_Webpos::denomination" title="Manage Cash Denomination" sortOrder="65"/>
                        <resource id="Magestore_Webpos::pos" title="Manage POS" sortOrder="70">
                            <resource id="Magestore_Webpos::lock_register" title="Lock register" sortOrder="10"/>
                        </resource>
                        <resource id="Magestore_Webpos::settings" title="Settings" sortOrder="80"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>