<!--
  ~ Copyright © 2018 Magestore. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<div class="wrap-change-customer">
    <div class="title-header">
        <a id="btn-add-new-customer" class="btn-cl-cfg-active" data-toggle="modal"
           data-bind="click: showCreateCustomerForm, i18n: 'Create Customer'"
           data-target="#form-add-customer"></a>

    </div>
    <a href="#" data-toggle="modal" data-target="#form-add-customer" class="btn-use-guest"
        data-bind="click: useGuestCustomer, i18n: 'Use Guest'"></a>
    <div class="form-inline" role="form" data-bind="visible: isSearchable">
        <div class="form-group">
            <span class="icon-iconPOS-search"></span>
            <input type="search"
                   data-bind="event: {change: filter}, attr: {placeholder: $t('Search by name/ email/ phone')}" class="form-control" id="search-customer"/>
            <a class="remove-text"><span class="icon-iconPOS-search"></span></a>
        </div>
        <button type="submit" class="btn btn-default" data-bind="i18n: 'Search'"></button>
    </div>
    <div style="position: relative">
        <div id='customer-overlay'
             style="opacity: 1; background: rgba(255,255,255,0.8); position: absolute; display: none; z-index: 99999;
                    top:0;left:0;right: 0;bottom: 0">
            <span class="customer-loader"></span>
        </div>
        <ul class="list-customer-old" data-bind="foreach: items, event: {scroll: lazyload}">
            <li data-bind="click: $parent.selectCustomer.bind($parent)">
                <a href="" title="Cutomer 1" data-bind="text: firstname + ' ' + lastname"></a>
                <span class="phone-number" data-bind="text: telephone"></span>
            </li>
        </ul>
    </div>
</div>
<a class="arrow"></a>